.ErrorPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    h1 {
        font-style: italic;
        font-size: 72px;
    }

    section {
        max-width: 536px;
        text-align: center;
        
        p {
            font-size: 22px;
        }
    }
}
