.selected-image-wrapper {
    display: flex;
    justify-content: center;

    &__outter-layout {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 50vh;
        width: 600px;

        &--dashed-border {
            border: dashed 2px #333;
        }

        &--normal-border {
            border: solid 2px #333;
        }

        &__image {
            max-height: 50vh;
            padding: 5px;
            width: 100%;
        }

        &__image-placeholder {
            max-width: 200px;
            padding: 5px;
            width: 100%;
        }
    }
}
