.NewPatient {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
    &__images {
        
        input[type=file] {
            display: none;
        }
    }
}

.total-wrapper {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
}

.listOfImagesFooter {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    & > * {
        margin-top: 10px;
    }

    & > *:not(:first-child) {
        margin-left: 20px;
        margin-right: 20px;
    }
}
