@import 'styles/index.scss';

.Option {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-decoration: none;

    button {
        background-color: #333;
        border: solid 4px $white;
        border-radius: 20px;
        box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
        color: white;
        overflow: hidden;
        padding: 20px;
        transition: 0.3s;
        width: 210px;
        
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }

    p {
        color: #333;
        margin: 10px 0;
        max-width: 210px;
        text-align: center;
    }
}
