.Header {
    align-items: center;
    background-color: #333;
    color: #ccc;
    display: flex;
    font-weight: bold;
    height: 50px;
    padding: 0 10px;
    width: 100%;
}

.IsLoggedOptions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    & > div {
        align-items: center;
        display: flex;

        & > * {
            margin: 0 10px;
        }
    
        & > a {
            color: #ccc;
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.RetinarLogo {
    cursor: pointer;
    height: 30px;
    transition: 0.1s;

    &:hover {
        filter: brightness(0.7);
    }
}

.IsNotLoggedOptions {
    align-items: center;
    display: flex;

    & > * {
        margin: 0 10px;
    }

    & > a {
        color: #ccc;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
