.Signin {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Encode Sans', sans-serif;
    margin: 0 auto;
    min-height: 100vh;

    &__form-section {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__inputs {
            display: flex;
            flex-wrap: wrap;
            width: 60%;
        }
        &__image-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            width: 30%;

            &__image {
                border-radius: 10px;
                height: auto;
                width: 100%;
            }

            &__input {
                &--hide {
                    display: none;
                }
            }

            &__button {
                border-radius: 5px;
                font-size: 16px;
                padding: 2px 0;
                white-space: normal;
                width: 100%;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.ModalCrop {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto;
    position: absolute;
    width: 100vw;

    img {
        max-height: 90vh;
    }

}
