.Signin {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Encode Sans', sans-serif;
    margin: 0 auto;
    min-height: 100vh;

    &__form-section {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__inputs {
            display: flex;
            flex-wrap: wrap;
            width: 60%;
        }
    }
}
