@import 'styles/index.scss';

.Welcome {
    align-items: center;
    color: #333;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    &__title {
        margin: 0;
        padding-bottom: 10px;
    }

    &__link-to-login {
        color: #333;
        display: block;
        text-decoration: none;
        margin: 0 10px;
        &:hover {
            color: rgb(103, 195, 231);
            transition: 0.1s;
        }
    }
}
