
.AvatarImage {
    border-radius: 50px;
    height: 48px;
    width: 48px;
}
    
.AvatarLetters {
    align-items: center;
    background:#eee;
    border-radius: 50px;
    color: #333;
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
}
