@import 'styles/index.scss';

.TechnicalOptions {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 100px auto;
    max-width: 1024px;

    &__option {
        margin: 0 auto;

        &__icon-wrapper {
            background-color: #333;
            border: solid 4px $white;
            border-radius: 20px;
            box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            padding: 20px;
            transition: 0.3s;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }

        &__text {
            color: #333;
            font-family: sans-serif;
            margin: 10px 0;
            text-align: center;
        }
    }
    
}
